@import "tailwindcss";

@theme {
  --font-sans: var(--font-moon-dance);
  --font-mono: var(--font-moon-dance);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@keyframes bounce-custom {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.bounce-animation {
  animation: bounce-custom 1s infinite;
}